__pycache__
batches
efr-aug-grp-processed.json
efr-aug-grp.json
efr-aug.tsv
efr.tsv
ethnicities.lst
ethnicities.txt
framedata.tsv
framedata.json
genders.lst
multiethnic.txt
nationalities.lst
participants.lst
pids.tsv
reject.lst
jump
report.txt
initial-report*.txt
corrections-report*.txt
test*.json
analysis_results*.json
tables*.tex
plots.log
plots/*
